
body {
    margin: 0;
    background-color: #f9dcdc;
    font-family: sans-serif;
  }

  .header {
    background-color: #971018;
    color: white;
    padding: 20px;
    font-size: 30px;
  }

  .brand-buttons {
    margin: 20px;
    display: flex;
    gap: 10px;
  }

  .brand-buttons button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  .brand-sections {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  .brand {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fce6e6;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
  }

  .brand img {
    width: 200px;
    margin-bottom: 10px;
  }

  #menu {
    display: flex;    /* el menú és un contenidor de tipus flex */
    height: 8vmax;
  }
  #menu i{
    flex: 1;    /* cada botó pretén ocupar tot l'espai disponible */
    display: flex;    /* contenidor flex on centrar-hi la icona */
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #950E17;
    font-size: 5vmax;
    cursor: pointer;    /* en ordinadors, indica que s'hi pot fer clic */
  }


  .visible {
    display: flex !important;
  }
